<h1> Welcome to Rock, Paper, Scissors</h1>

<p>Smash SCISSORS using the mighty ROCK!</p>

<p>Smother the Rock with the intelligence of PAPER!</p>

<p>Slice PAPER to shreds with SCISSORS!</p>


<video width="480" height="320" autoplay loop>

<source src="video.mp4" type="video/mp4">
</video>
